*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
/* font */
@font-face {
    font-family: apexfont;
    src: url(../font/ApexRegular.otf) format("opentype");
}
body{
    font-family: 'apexfont', sans-serif;
    background-image: url(../images/apex_legends_wallpaper2.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: bisque;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr; 
    grid-template-rows: min-content min-content min-content min-content;
    grid-template-areas:
    "header header header"
    "menu main aside"
    "menu main aside"
    "footer footer footer"
}

main{
    grid-area:main;
    display: grid;
    grid-template-columns: 4fr;
    grid-template-rows: min-content min-content;
    grid-template-areas: 
    "content"
    "content";
}
/* head */
header{

    grid-area: header;
    align-items: flex-start;
    display: flex;
    flex-direction: row-reverse;
    justify-content:center
}
header .title{
    margin-top: 1.25%;
    display: flex;
    flex-direction: column;
}
header a{
    color: #441403;
    font-weight: strong;
    font-size: 40px;
    text-decoration: none;
    text-align: center;
}
header h3{
    color: #441403;
    font-weight: normal;
    font-size: 20px; 
    text-align: left;
}
header .server{
    margin-left: 5px;
    margin-top: 5px; ;
    display: flex;
    flex-direction: row;
    align-items:baseline;
}
/*imagen logo no designada aun*/
header img{
    opacity: 1;
    display: none;
}
.dummy{
    width: 50px;
    opacity: 0.01;
}
.serverStatus{
    width: 16px;
}

/* nav */
.menu{
    grid-area: menu;
    font-size: 1.75rem;
    width: 70%;
    height: 40%;
    justify-self: center;
    align-self: flex-start;
    background-color: rgb(219, 179, 46);
}
.menu ul{
    display: flex;
    flex-direction: column;
    background-color: rgb(219, 179, 46);
}
.menu li{
    list-style-type: none;
    text-align: center;
    padding: 10px;
    margin: 15px;
}
.menu a{
    text-decoration: none;
    color: rgb(68, 10, 10);
    transition: 0.3s;
}
.menu .howTo{
    background-color: rgb(219, 124, 46);
    margin-top: 20px;
    letter-spacing: 2px;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    text-align: center;
    font-size: 1.2rem;
    width: 100%;
    padding: 10px;
}
.menu .howTo ul{
    background-color: rgb(219, 124, 46);
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: center;
}
.menu .howTo img{
    transition: 0.5s;
}
.menu .howTo img:hover{
    transform: scale(1.2);
}
/* efectos nav */
.menu .selected a{
    color:  rgb(214, 44, 18);
    text-decoration: underline;
}
.menu a:hover{
    color:  rgb(214, 44, 18);
    font-weight: bold;
    text-decoration: underline;
}
/* contenido seccion */
.content{
    font-family: 'Roboto', sans-serif;
    background:
    linear-gradient(to top, rgba(223, 198, 177, 0.9), rgba(218, 161, 109, 0.9) );
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: min-content min-content min-content min-content;
    grid-template-areas:
        "content1 contentSide"
        "content1 contentSide"
        "content1 contentSide"
        "content1 contentSide";
    border-left: #978983 solid 3px;
    padding: 25px;
    height: 75vh;
    grid-area: content;
    overflow: auto;
    overflow-x: hidden;
}
.content .description{
    grid-area: contentSide;
    position: sticky;
    border-left: rgba(177, 137, 26, 0.5) 3px solid;
    top: 0;
    padding-left: 5%;
    margin-left: 5%;
}
.content .description iframe{
    width: 410px;
    height: 315px;
    margin-top: 7vh;
}
/*pros.html */
.content .pros{
    grid-area: content1;
}
.content .pros ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.content .pros li{
    text-align: center;   
    margin: 25px;
    color: black;
    list-style-type: none;
}
/*weapons.html */
.content .weapons{
    grid-area: content1;
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
    align-content: flex-start;
    justify-content: center;
    text-align: center;
}
.content .weapons ul{
    margin: 15px;
}
.content .weapons li{
    padding: 5px;
    list-style-type: none;
}
/*seasons.html */

/*tabla OLD
.content .table{
    width: 90%;
    grid-area: content1;
    text-align: center;
    color: black;
    font-size: 25px;
}
*/

.content .table{
    grid-area: content1;
    display: flex;
    line-height: 30px;
    justify-content: center;
}
.content .tableName{
    list-style-type: none;
    margin: 10px;
    font-size: 0.9rem
}
.content .tableDuration{
    margin: 10px;
    list-style-type: none;
    text-align: center;
    margin-left: 20px;
    font-size: 1rem;
}
/*characters.html */
.characters ul{
    letter-spacing: 2px;
    font-size: 20px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.characters li{
    margin: 6px;
    text-align: center;
}
.characters a{
    color: black;
    text-decoration: none;
}
.characters li:hover{
    color:  rgb(192, 5, 5);
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 1);
    transition: 0.3s;  
}
.description ul{
    line-height: 2rem;
}

/* texto general*/
.parrafo{
    grid-area: content1;
    font-size: 1rem;
    font-weight: lighter;
    letter-spacing: .5px;
    word-spacing: 5px;
    color: rgb(0, 0, 0);
    line-height: 25px;
    text-align: left;
    margin: 5px;
}
.content h2{
    color: rgb(177, 61, 26);
    margin-bottom: 10px;
    margin-top: 15px;
    font-family: 'apexfont', sans-serif;
    animation-name: appear;
    animation-iteration-count: infinite;
    animation-duration: 3s;
}
.content h3{
    color: rgb(177, 61, 26);
    font-family: 'apexfont', sans-serif;
}
/* footer */
footer{
    grid-area: footer;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}
.social{
    letter-spacing: 5px;
    color: rgb(0, 0, 0);
    
}
.social img{
    transition: 0.5s; 
}
.social img:hover{
    transform: translateY(-10px);
}
.iconos{
    width: 45px;
    height: 35px;
    margin-top: 10px;
}
.iconosDown{
    width: 45px;
    height: 45px;
    animation: rotate360 3s linear 3s infinite ;
}
.copyright{
    display: flex;
    flex-direction: row;
}
.iconocopy{
    width: 30px;
}
@keyframes appear{
    0% {
        opacity: 0.4;
        }
    50% {
        opacity: 1;
        }
    100% {
      opacity: 0.4;
        }
}
@keyframes rotate360{
    from { }
    to {
      transform: rotate(360deg);
    }
}
@media screen and (max-width:576px){
    body{
        background-image:  url(../images/apex_legends_wallpaper_mobile.jpg);
        background-size: cover;
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: min-content min-content min-content min-content;
        grid-template-areas:
        "header header"
        "menu menu"
        "main main"
        "footer footer"
    }
    main{
        grid-area:main;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: min-content;
        grid-template-areas: 
        "content content";
    }
    header{
        margin: none;
        background-color: rgba(255, 228, 196, 0.8);
    }
    header a{
        font-size: 1.5rem;
        letter-spacing: 5px;
    }
    header h3{
        color: #441403;
        font-weight: normal;
        font-size: 15px; 
        text-align: center;
        letter-spacing: 4px;
    }
    .menu{
        grid-area: menu;
        font-size: 1.5rem;
        margin-top: none;
        width: 100%;
    }
    .menu ul{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .menu li{
        margin: none;
        padding: none
        ;
    }
    .content{
        grid-area: content;
        margin-top: none;
        display: flex;
        flex-direction: column;
        border-left: none;
        border-top: #978983 solid 3px;
        padding: 5px;
        overflow-x: hidden;
        overflow-y: hidden;
    }
    .parrafo{
        font-size: 1rem;
        word-spacing: 5px;
        line-height: 20px;
        text-align: center;
    }
    /*Se quita link de descarga ya que es para PC*/
    .menu .howTo{
        display: none; 
    }
    header img{
        display: none;
    }
    /*index.html*/
    .content .parrafo{
        height: 45vh;
        overflow: auto;
    }
    .content .description iframe{
        width: 500px ;
        margin-top: unset;
    }
    /*characters.html*/
    .content .characters ul{
        letter-spacing: 2px;
        font-size: 20px;
        list-style-type: none;
        display: flex ;
        flex-wrap: wrap;
        overflow-x: auto;
        height: 45vh;
    }
    .content .description{
        border-left: none;
        border-top: rgba(177, 137, 26, 0.5) 3px solid;
        padding-left: none;
        padding-left: 0;
        text-align: center;
        margin-left: 0;
        height: 400px;
        overflow-y: auto;
    }
    /*pros.html*/
    .content .pros h2{
        text-align: center;
    }
    .content .pros ul{
        display: flex;
        justify-content: baseline;
        justify-content: center;
    }
    .content .table{
        width: 100%;
        text-align: center;
        color: black;
        font-size: 25px;
        overflow: auto;
        height: 45vh;
    }
    /*weapons.html*/
    .content .weapons{
        display: flex;
        flex-wrap: wrap;
        overflow: auto;
        align-content: none;
        height: 45vh;
    }
    .social h5{
        display: none;
    }
    /* footer */
    .iconos{
        margin: 5px;
        margin-left: 50px;
        margin-right: 50px;
    }
    footer{
        display: unset;
        border-top: crimson solid 2px;
        justify-content: center;
        background-color: rgba(255, 228, 196, 0.8);
    }
    .social{
        display: flex;
        justify-content: space-around;
    }
}